a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
input,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  line-height: 1.3em;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
  margin-bottom: .25em;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
h1 {
  font-size: 1.75em;
}
h2 {
  font-size: 1.1em;
}
h3 {
  font-size: 1.0em;
}
h4 {
  font-size: .95 em;
}
p {
  margin-bottom: .25em;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
}
html {
  height: 100%;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  min-height: 401px;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.content-container {
  width: 100%;
  height: auto;
  overflow: auto;
  margin: 0;
  padding: 5vh 0;
}
.content-container .content {
  width: 80vw;
  margin: 0 auto;
  height: 100%;
}
.content-container .content .section {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  white-space: normal;
  display: table;
  text-align: center;
}
.content-container .content .section .copy-container,
.content-container .content .section .image-container {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.content-container .content .section .copy-container {
  text-align: left;
}
.content-container:first-of-type {
  padding: 0;
}
.content-container.dark {
  background: #171717;
  color: #fff;
}
.content-container.highlight-color {
  background: #34343f;
  color: #fff;
}
.content-container.light {
  background: #fff;
  color: #171717;
}
.content-container:last-of-type {
  margin-bottom: 0;
}
#nice-landing-wrapper.content-container {
  background: linear-gradient(to right, #282831, #171717, #171717, #171717, #171717, #171717, #171717, #171717, #171717, #282831);
  position: relative;
  z-index: 2;
  min-height: 100vh;
}
#nice-landing-wrapper.content-container .content {
  position: relative;
  height: 95vh;
  overflow: hidden;
}
#nice-landing-wrapper.content-container .content .section {
  text-align: center;
}
#nice-landing-wrapper.content-container .content .section .copy-container {
  display: table;
  font-weight: bolder;
  height: 95vh;
  margin: 0 auto;
  line-height: 0;
  text-align: center;
}
#nice-landing-wrapper.content-container .content .section .copy-container #nice {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
#nice-landing-wrapper.content-container .content .section .copy-container #nice p {
  text-align: center;
  display: inline-block;
  line-height: 95%;
  transition: 400ms;
  /* Ensures the content is not revealed until the animation */
  overflow: show;
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 10px;
  /* Gives that scrolling effect as the typing happens */
  /* Adjust as needed */
  background-image: -webkit-linear-gradient(200deg, #f35626, #feab3a);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: hue 30s infinite linear, appear 0.1s ease-in 1;
}
@keyframes hue {
  0% {
    -webkit-filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
  }
}
@-webkit-keyframes hue {
  0% {
    -webkit-filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
  }
}
@keyframes cursor {
  0%,
  25%,
  50%,
  75% {
    border-color: transparent;
  }
  12%,
  37%,
  62%,
  87%,
  100% {
    border-color: white;
  }
}
@-webkit-keyframes cursor {
  0%,
  25%,
  50%,
  75% {
    border-color: transparent;
  }
  12%,
  37%,
  62%,
  87%,
  100% {
    border-color: white;
  }
}
/* The typing effect */
@keyframes appear {
  0% {
    transform: scale(0);
  }
}
